*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}html,body{
    width: 100%;height: 100%;
    background-color:#000000;
    /* overflow-x: hidden; */
    /* overflow: hidden; */
    /* background-color: red; */
}

.repup{
    width: 97.5%;
    height: 100%;
    background-color:#000000;
  /* overflow-x: hidden; */
    /* background-color: red; */
}
nav{
    width: 97%;
    /* width: 80%; */
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 999;
    /* background-color:blue; */
}
#logo{
    margin-left: 100px;
}
ul{
    display: flex;
    align-items: center;
    margin-right: 100px;
    gap: 50px;
}
li{
    list-style-type: none;
}
#btn-1{
    width: 90px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
    background-color: transparent;
}
.video{
    width: 100%;
    height: 100vh;
    /* background-color: gold; */

}
video{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.section-1{
    width: 100%;
    height: 80%;
    position: relative;
    /* background-color: greenyellow; */
}
h1{
    width: 1234px;
height: 113px;
/* margin-left: 7%; */
font-family:NORTHDEN ROUGH ;
    font-size: 124px;
    font-weight: 400;
    line-height: 113px;
    letter-spacing: 0em;
    text-align: center;
   color: #AAAAAA;
}
  .section-1 > h3{
    /* background-color: red; */

    width: 1239px;
    /* width: 100%; */
height: 125px;
/* margin-left: 7%; */
margin-top: 4%;
font-family: GothamBook;
font-size: 20px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: center;
color: #AAAAAA;

}
#btn-2under{
    width: 200px;
    height: 60px;
    margin-left: 43%;
    margin-top: 2%;
    border-radius: 2px;
    background: #0c0c0c;
    border: 3px solid #FFFFFF
}
#btn-2{
    width: 200px;
    height: 60px;
    position: absolute; 
    left: 42.5%;
    top: 69%;
 border-radius: 5px;

    background: #FFFFFF;
    color: #000;
    
}
.section-2{
    width: 100%;
    height: 100%;
    display: flex;
    /* background-color: aqua; */
}
.pic{
    width: 50%;
    height: 100%;
   
    position: relative;
}
#banner-1{
    width: 542px;
    height: 542px;
    position: absolute;
    right: 0;
}
.text{
    width: 50%;
    height: 100%;
    margin-left: 30px;
    position: relative;
 

}
h2{
    /* background-color: red; */
    width: 100%;
    height: 172px;
    margin-right: 50px;
    font-family: NORTHDEN ROUGH;
    font-size: 60px;
    font-weight: 400;
    line-height: 86px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
    
}
h4{
    /* background-color:blue; */
    /* width: 600px; */
    width: 95%;
    height: 180px;
    font-family: Gotham;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
}
#btn-3under{
    width: 150px;
    height: 60px;
    /* color: #000; */
    /* background-color: #000; */
    margin-left: 30px;
    margin-top: 50px;
    /* border: #FFFFFF; */
    border-radius: 2px;
    background: #0c0c0c;
    border: 3px solid #FFFFFF
}
#btn-3{
    width: 150px;
    height: 60px;
   position: absolute;
   left: 16px;
   top: 440px;
    border: 2px;
    color: #000;;
    background-color: #FFFFFF;
    border: 2px solid #FFFFFF   
}

.section-3{
    /* background-color: red; */
    /* width: 100%; */
   /* min-height: 100vh; */
    overflow-x: hidden;
    /* overflow-y: hidden; */
    /* background-color:green; */
}
.section-3::-webkit-scrollbar{
    display: none;
}
.head{
    width: 100%;
    /* height: 10%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: red; */
    
}
#head-1{
    /* background-color:blue; */
    /* width: 191px; */
    /* width: 100%; */
    /* height: 10vh; */
    /* height: 17px; */
    font-family: Gotham;
    font-size: 18px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  
    
}
.card-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 10px; */

}
.card{
    height:100vh ;
    width: 100%;
    /* height: 150%; */
    /* background-color: red; */
  
}
.card-2{
    /* background-color:blue; */
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* margin-bottom: 50%; */
    /* background-color: red; */

}
#cards{
    /* width: 280px; */
    width: 100%;
    height: 65vh;
    /* height: 350px; */
} 
.section-4{
    width: 100%;
    height: 110%;
    margin-top: 13%;
    display: flex;
    position: relative;
    margin-top: 30%;
    /* background-color: aqua; */
}
.left{
    width: 50%;
    height: 100%;
    /* background-color: red; */
}
.right{
    width: 50%;
    height: 100%;
    /* background-color: blue; */
    position: relative;
}
.left > h2{
    margin-left: 7%;
}
.left > h4{
    margin-left: 7%;
    /* margin-bottom: 5%; */
}
.left > #btn-3under{
    margin-top: 20%;
    margin-left:7% ;
}
.left > #btn-3{
   top: 87%;
   left: 3%;
}
#banner-2{
    /* width: 500px; */
    width: 80%;
    height: 80%;
/* height: 1001.980224609375px */


}

.section-5{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* background-color:brown; */
}
.part-1{
    /* width: 100%; */
    height: 25%;
    /* background-color: rgb(39, 211, 176); */
}

#doller{
    /* background-color: red; */
    /* width: 80%; */
    /* height: 100px; */

    /* border: 1px; */
    font-family: NORTHDEN Rough;
font-size: 40px;
/* font-weight: 400; */
/* line-height: 110px; */
/* letter-spacing: 0em; */
/* text-align: left; */
color: #AAAAAA;
margin-left: 40px;
border: 1px solid #AAAAAA
    
}
#doller-2{
    /* background-color: red; */
    /* width: 80%; */
    /* height: 100px; */

    /* border: 1px; */
    font-family: NORTHDEN Rough;
font-size: 40px;
/* font-weight: 400; */
/* line-height: 110px; */
/* letter-spacing: 0em; */
/* text-align: left; */
color: #AAAAAA;
/* color: transparent; */
margin-left: 40px;
border: 1px solid #AAAAAA
}
.part-2{
    /* width: 100%; */
    height: 25%;
    /* background-color: rgb(39, 211, 176); */
}
.part-3{
    /* width: 100%; */
    height: 25%;
    /* background-color: rgb(245, 34, 34); */
}
.part-4{
    /* width: 100%; */
    height: 25%;
    /* background-color: rgb(173, 21, 112); */
}
.section-6{
    width: 100%;
    height: 100%;
    /* background-color:slateblue; */
    /* margin-top: 10%; */
}
#m-1{
    /* background-color: red; */
    width: 577px;
height: 91px;
font-family: NORTHDEN ROUGH;
font-size: 100px;
font-weight: 400;
line-height: 91px;
letter-spacing: 0em;
text-align: left;
margin-left: 28%;
color: #FFFFFF;


}
#m-2{
    /* background-color: red; */
    width: 507px;
height: 24px;
margin-left: 30%;
font-family: Gotham;
font-size: 25px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
margin-top: 1%;
color: #FFFFFF;



}
#Mystery{
    /* width: 615px;
height: 631px; */
width: 33%;
margin-left: 30%;
scale: 0;

/* height: 20vmax; */
}
.section-7{
    width: 100%;
    height: 100%;
    /* background-color:salmon; */
  
}
.slot-1{
    width: 90%;
    height: 50%;
    /* background: blue; */
    border: 2px solid #AAAAAA;
    border-radius: 10px;
    margin-left: 5%;
    display: flex;
}
.slot-1-left{
    width: 60%;
    height: 100%;
    /* background-color: aqua; */
}
.slot-1-left >#last{
    width: 552px;
height: 182px;
font-family: NORTHDEN ROUGH;
font-size: 100px;
font-weight: 400;
line-height: 91px;
letter-spacing: 0em;
text-align: left;
color: #AAAAAA;
margin-left: 5%;

}
#l-2{
    width: 613px;
height: 90px;
font-family: Gotham;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;
margin-left: 5%;
margin-top: 2%;


}
.slot-1-right{
    width: 40%;
    height: 100%;
    /* background-color: aqua; */
}
input{
    /* width: 500px; */
    width: 400px;
height: 60px;
margin-top: 15%;
background: transparent;

border-radius: 8px;
border: 1px;
border: 1px solid #AAAAAA
}
#last-btn{
    width: 400px;
height: 60px;
font-family: Gotham;
font-size: 18px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0em;
/* text-align: left; */

border-radius: 8px;
margin-top: 5%;


}
.slot-2{
    width: 100%;
    height: 30%;
    /* background-color: red; */
}
#photo{
    width: 150px;
height: 41px;
margin-left: 40%;
margin-top: 3%;


}
h6{
    width: 562px;
height: 40px;
font-family: Gotham;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: center;
color: #FFFFFF;
margin-left: 27%;

}
#icon{
    width: 158px;
height: 22px;
margin-left: 40%;
margin-top: 1%;

}
.footer{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
}